
@{
    Layout = null;
}
<style>
    .black {
        color: black;
    }
</style>
<style>
    .red {
        color: red;
    }
</style>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Introduccion a JS y jQueery</title>

</head>
<body id="cuerpo">
    <h1 id="hola" class="black">Hola Mundo</h1>

    <button id="boton">Cambiar color</button>

    <div id="Contenido">
        <div>
            <p>PARRAFO</p>
        </div>
    </div>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/main.js"></script>*@

</body>
</html>
